<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--记住 我的电脑这里只能是http才能出来小鸟-->
<mapper namespace="com.zjy.mapper.SorderMapper">

    <resultMap id="sorder" type="com.zjy.pojo.SOrder">
        <result property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="sid" column="sid"/>
        <result property="count" column="count"/>
        <result property="total" column="total"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="status" column="status"/>
        <result property="scenicId" column="scenicId"/>
        <result property="phone" column="phone"/>
        <result property="idNumber" column="id_number"/>

        <association property="customer">
            <result property="id" column="id"/>
            <result property="customerName" column="customer_name"/>
            <result property="password" column="password"/>
            <result property="email" column="email"/>
            <result property="phone" column="phone"/>
            <result property="cimage" column="cimage"/>
        </association>

        <association property="scenic">
            <result property="id" column="id"/>
            <result property="sname" column="sname"/>
            <result property="country" column="country"/>
            <result property="address" column="address"/>
            <result property="stime" column="stime"/>
            <result property="price" column="price"/>
            <result property="type" column="type"/>
            <result property="simage" column="simage"/>
            <result property="descr" column="descr"/>

        </association>
    </resultMap>


    <select id="listSorder" resultType="com.zjy.pojo.SOrder" resultMap="sorder">
        select o.id,o.phone,o.id_number,s.sname,s.simage,s.price,s.address,s.country, o.start_time,o.end_time,c.address,c.customer_name,c.cimage, o.count, o.total,o.status,c.email
        from customer c,scenic s,s_order o
        <where>
            AND c.id=o.cid and s.id=o.sid  and o.status!=3

            <if test="id != null and id!='' ">
                and o.id=#{id}
            </if>
        </where>
        order by o.status
    </select>
    <select id="queryNum" resultType="com.zjy.pojo.CountNumber">
        SELECT s.sname as name ,count(o.id) as count from scenic s,s_order o where o.sid=s.id
        GROUP BY s.sname order by count desc
    </select>
    <select id="listWish" resultType="com.zjy.pojo.SOrder" resultMap="sorder">

        select o.id,s.id as scenicId, s.sname,s.type,s.price,s.simage,s.address,s.country from
        scenic s,s_order o where o.sid=s.id and o.cid=#{userId} and o.status=3
    </select>
    <select id="listMySorder" resultType="com.zjy.pojo.SOrder" resultMap="sorder">

        select o.id,s.sname,s.simage,s.price,s.address,s.country,s.type, o.start_time,o.end_time,c.address,c.customer_name,c.cimage, o.count, o.total,o.status,c.email,o.phone,o.id_number
        from customer c,scenic s,s_order o
        <where>
            AND c.id=o.cid and s.id=o.sid  and o.status!=3 and o.cid=#{id}
        </where>
        order by o.status
    </select>
</mapper>
